h1 {
	color: green;
}
h2 {
	margin-bottom: 25px;
}
#footer {
	border-top: 2px solid #C0C0C0;
	margin-top: 30px;
	padding-top: 10px;
}
select, input {
	max-width: 500px;
}
td {
	font-size: 16px;
}
div.provider>div {
	background-color: #FAFAD2;
	max-width: 500px;
}
p.provider {
	font-size: 16px;
	color: #008080;
	margin-bottom: 0;
}
a.provider_site {
    font-size: 18px;
}
