{% extends "rent/base.html" %}

{% block content %}
<div class='row'>
	<div class='col-sm-2'></div>
	<div class="col-sm-10">
		<h2>Додавання послуги</h2>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12'>
		<form class="form-horizontal" action="{% url 'add_product' %}"
			method='post'>
		  {% csrf_token %}
		  <div class="form-group {% if errors.product_name %}has-error{% endif %}">
		    <label for="inputProduct" class="col-sm-3 control-label">Послуга</label>
		    <div class="col-sm-9">
		      <select class="form-control" id='inputProduct' name='product_name'>
				<option {% if not data.product_name %}selected{% endif %} 
				  value=''>Оберіть послугу</option>
				<option {% if data.product_name == 'Водопостачання' %}
				  selected{% endif %} value='water'>Водопостачання</option>
				<option {% if data.product_name == 'Каналізація' %}
				  selected{% endif %} value='sewerage'>Каналізація</option>
				<option {% if data.product_name == 'Електропостачання' %}
				  selected{% endif %} value='electricity'>Електропостачання</option>
				<option {% if data.product_name == 'Газопостачання' %}
				  selected{% endif %} value='gas'>Газопостачання</option>
				<option {% if data.product_name == 'Вивіз сміття' %}
				  selected{% endif %} value='waste'>Вивіз сміття</option>
			  </select>
			  <span class="help-block">{{ errors.product_name }}</span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputProvider" class="col-sm-3 control-label">Постачальник</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="inputProvider" 
				name='provider_name' placeholder="Введіть назву постачальника послуг"
				value='{{ data.provider_name }}'>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputSiteProvider" class="col-sm-3 control-label">Сайт постачальника</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="inputSiteProvider"
				name='provider_site' placeholder="Введіть адресу сайту постачальника послуг"
				value='{{ data.provider_site }}'>
		    </div>
		  </div>
		  <!-- Counter number 1 -->
		  <div class='form-group 
		    {% if errors.counter_1_indicator or errors.counter_1_name %}has-error{% endif %}'>
		    <label for="inputCounter1" class='col-sm-3 control-label'>
				Показники лічильника №1</label>
		    <div class='col-sm-2'>
			  <input class="form-control" id="inputCounter1" 
			    placeholder="Назва лічильника" name="counter_1_name"
			    value='{{ data.counter_1_name }}'>
			  <span class="help-block">{{ errors.counter_1_name }}</span>
			</div>
			<div class='col-sm-2'>
			  <input class="form-control" placeholder="Показник"
			    name="counter_1_indicator" value='{{ data.counter_1_indicator }}'>
			  <span class="help-block">{{ errors.counter_1_indicator }}</span>
		    </div>
		  </div>
		  
		  <!-- Counter number 2 -->
		  <div class='form-group 
		    {% if errors.counter_2_indicator or errors.counter_2_name %}has-error{% endif %}'>
		    <label for="inputCounter2" class='col-sm-3 control-label'>
				Показники лічильника №2</label>
		    <div class='col-sm-2'>
			  <input class="form-control" id="inputCounter2" 
			    placeholder="Назва лічильника" name="counter_2_name"
			    value='{{ data.counter_2_name }}'>
			  <span class="help-block">{{ errors.counter_2_name }}</span>
			</div>
			<div class='col-sm-2'>
			  <input class="form-control" placeholder="Показник"
			    name="counter_2_indicator" value='{{ data.counter_2_indicator }}'>
			  <span class="help-block">{{ errors.counter_2_indicator }}</span>
		    </div>
		  </div>
		  
		  <!-- Counter number 3 -->
		  <div class='form-group 
		    {% if errors.counter_3_indicator or errors.counter_3_name %}has-error{% endif %}'>
		    <label for="inputCounter3" class='col-sm-3 control-label'>
				Показники лічильника №3</label>
		    <div class='col-sm-2'>
			  <input class="form-control" id="inputCounter3" 
			    placeholder="Назва лічильника" name="counter_3_name"
			    value='{{ data.counter_3_name }}'>
			  <span class="help-block">{{ errors.counter_3_name }}</span>
			</div>
			<div class='col-sm-2'>
			  <input class="form-control" placeholder="Показник"
			    name="counter_3_indicator" value='{{ data.counter_3_indicator }}'>
			  <span class="help-block">{{ errors.counter_3_indicator }}</span>
		    </div>
		  </div>
		  
		  <!-- Counter number 4 -->
		  <div class='form-group 
		    {% if errors.counter_4_indicator or errors.counter_4_name %}has-error{% endif %}'>
		    <label for="inputCounter1" class='col-sm-3 control-label'>
				Показники лічильника №4</label>
		    <div class='col-sm-2'>
			  <input class="form-control" id="inputCounter4" 
			    placeholder="Назва лічильника" name="counter_4_name"
			    value='{{ data.counter_4_name }}'>
			  <span class="help-block">{{ errors.counter_4_name }}</span>
			</div>
			<div class='col-sm-2'>
			  <input class="form-control" placeholder="Показник"
			    name="counter_4_indicator" value='{{ data.counter_4_indicator }}'>
			  <span class="help-block">{{ errors.counter_4_indicator }}</span>
		    </div>
		  </div>
		  
		  <!-- Arrears -->
		  <div class="form-group {% if errors.arrears %}has-error{% endif %}">
		    <label for="inputArrears" class="col-sm-3 control-label">Стан розрахунку</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="inputArrears"
				name='arrears' placeholder="Введіть наявний стан розрахунку в грн"
				value='{{ data.arrears }}'>
			   <span class="help-block">{{ errors.arrears }}</span>
		    </div>
		  </div>
		  
		  <!-- Buttons -->
		  <div class="form-group">
		    <div class="col-sm-offset-3 col-sm-9">
		      <button type="submit" class="btn btn-primary"
				name='add_button'>Додати</button>
		      <button type="submit" class="btn btn-link"
		        name='cancel_button'>Скасувати</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
{% endblock content %}
