{% extends "rent/base.html" %}

{% block content %}
<div class='row'>
	<div class='col-sm-2'></div>
	<div class="col-sm-10">
		<h2>Додавання послуги</h2>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12'>
		<form class="form-horizontal" action="{% url 'add_product' %}"
			method='post'>
		  {% csrf_token %}
		  <div class="form-group {% if errors.product_name %}has-error{% endif %}">
		    <label for="inputProduct" class="col-sm-3 control-label">Послуга</label>
		    <div class="col-sm-9">
		      <select class="form-control" id='inputProduct' name='product_name'>
				<option {% if not data.product_name %}selected={% endif %} 
				  value=''>Оберіть послугу</option>
				<option {% if data.product_name == 'Водопостачання' %}
				  selected{% endif %} value='water'>Водопостачання</option>
				<option {% if data.product_name == 'Каналізація' %}
				  selected{% endif %} value='sewerage'>Каналізація</option>
				<option {% if data.product_name == 'Електропостачання' %}
				  selected{% endif %} value='electricity'>Електропостачання</option>
				<option {% if data.product_name == 'Газопостачання' %}
				  selected{% endif %} value='gas'>Газопостачання</option>
				<option {% if data.product_name == 'Вивіз сміття' %}
				  selected{% endif %} value='waste'>Вивіз сміття</option>
			  </select>
			  <span class="help-block">{{ errors.product_name }}</span>
		    </div>
		  </div>
		  <div class="form-group provider" {% if not data.product_name %}hidden{% endif %}>
		    <label for="inputProvider" class="col-sm-3 control-label">Постачальник</label>
		    <div class="col-sm-9">
		      <p class='provider water' 
		        {% if data.provider_name != 'Хмельницькводоканал' %}hidden{% endif %}>
			    Міське комунальне підприємство "Хмельницькводоканал"<br>
		        Адреса: м. Хмельницький, вул. Водопровідна, 75<br>
		        Контакти: (0382) 78-75-30<br>
		        Сайт підприємтсва:</p>
		      <a class='provider_site water' href='http://water.km.ua' 
		        target='__blank' 
		        {% if data.provider_name != 'Хмельницькводоканал' %}hidden{% endif %}>
		        www.water.km.ua</a>
		      <p class='provider electricity' 
			    {% if data.provider_name != 'Хмельницькобленерго' %}hidden{% endif %}>
			    Публічне акціонерне товариство "Хмельницькобленерго"<br>
		        Адреса: м. Хмельницький, вул. Храновського, 11а<br>
		        Контакти: (0382) 78-78-59<br>
		        Сайт підприємства:</p>
		      <a class='provider_site electricity' href='http://oblenergo.km.ua/portal/' 
		        target='__blank' 
		        {% if data.provider_name != 'Хмельницькобленерго' %}hidden{% endif %}>
		        www.oblenergo.km.ua</a>
		      <p class='provider gas' 
		        {% if data.provider_name != 'Хмельницькгаз' %}hidden{% endif %}>
			    Регіональна газова компанія "Хмельницькгаз"<br>
		        Адреса: м. Хмельницький, просп. Миру, 41<br>
		        Контакти: (0382) 71-04-50<br>
		        Сайт компанії:</p>
		      <a class='provider_site gas' href='http://km.104.ua/ua/' 
		        target='__blank' 
		        {% if data.provider_name != 'Хмельницькгаз' %}hidden{% endif %}>
		        www.km.104.ua</a>
		      <p class='provider waste' 
		        {% if data.provider_name != 'Спецкомунтранс' %}hidden{% endif %}>
			    Хмельницьке комунальне підприємство "Спецкомунтранс"<br>
		        Адреса: м. Хмельницький, Толстого, 1<br>
		        Контакти: (0382) 65-70-05<br>
		        Сайт підприємства:</p>
		      <a class='provider_site waste' href='http://skt.km.ua/' 
		        target='__blank' 
		        {% if data.provider_name != 'Спецкомунтранс' %}hidden{% endif %}>
		        www.skt.km.ua</a>
		      <input type="hidden" class="form-control" id="inputProvider" 
				name='provider_name' value='{{ data.provider_name }}'>
			  <input type="hidden" class="form-control" id="inputSiteProvider"
				name='provider_site' value='{{ data.provider_site }}'>
		    </div>
		  </div>
		 
		  <!-- Counter number 1 -->
		  <div class='form-group counter1
		    {% if errors.counter_1_indicator or errors.counter_1_name %}has-error{% endif %}'
		    {% if not data.counter_1_name or not data.counter_1_indicator %}
		     hidden{% endif %}>
		    <div class='col-sm-offset-3 col-sm-2'>
			  <input class="form-control" id="inputCounter1" 
			    placeholder="Назва лічильника" name="counter_1_name"
			    value='{{ data.counter_1_name }}'>
			  <span class="help-block">{{ errors.counter_1_name }}</span>
			</div>
			<div class='col-sm-2'>
			  <input class="form-control" placeholder="Показник"
			    name="counter_1_indicator" value='{{ data.counter_1_indicator }}'>
			  <span class="help-block">{{ errors.counter_1_indicator }}</span>
		    </div>
		    <div class='col-sm-1'>
		      <button type='button' class='btn btn-danger' id='delete_counter_1'>
		        Видалити
		      </button>
		    </div>
		  </div>
		  
		  <!-- Counter number 2 -->
		  <div class='form-group counter2
		    {% if errors.counter_2_indicator or errors.counter_2_name %}has-error{% endif %}'
		    {% if not data.counter_2_name or not data.counter_2_indicator %}
		      hidden{% endif %}>
		    <div class='col-sm-offset-3 col-sm-2'>
			  <input class="form-control" id="inputCounter2" 
			    placeholder="Назва лічильника" name="counter_2_name"
			    value='{{ data.counter_2_name }}'>
			  <span class="help-block">{{ errors.counter_2_name }}</span>
			</div>
			<div class='col-sm-2'>
			  <input class="form-control" placeholder="Показник"
			    name="counter_2_indicator" value='{{ data.counter_2_indicator }}'>
			  <span class="help-block">{{ errors.counter_2_indicator }}</span>
		    </div>
		    <div class='col-sm-1'>
		      <button type='button' class='btn btn-danger' id='delete_counter_2'>
		        Видалити
		      </button>
		    </div>
		  </div>
		  
		  <!-- Counter number 3 -->
		  <div class='form-group counter3
		    {% if errors.counter_3_indicator or errors.counter_3_name %}has-error{% endif %}'
		    {% if not data.counter_3_name or not data.counter_3_indicator %}
		      hidden{% endif %}>
		    <div class='col-sm-offset-3 col-sm-2'>
			  <input class="form-control" id="inputCounter3" 
			    placeholder="Назва лічильника" name="counter_3_name"
			    value='{{ data.counter_3_name }}'>
			  <span class="help-block">{{ errors.counter_3_name }}</span>
			</div>
			<div class='col-sm-2'>
			  <input class="form-control" placeholder="Показник"
			    name="counter_3_indicator" value='{{ data.counter_3_indicator }}'>
			  <span class="help-block">{{ errors.counter_3_indicator }}</span>
		    </div>
		    <div class='col-sm-1'>
		      <button type='button' class='btn btn-danger' id='delete_counter_3'>
		        Видалити
		      </button>
		    </div>
		  </div>
		  
		  <!-- Counter number 4 -->
		  <div class='form-group counter4
		    {% if errors.counter_4_indicator or errors.counter_4_name %}has-error{% endif %}'
		    {% if not data.counter_4_name or not data.counter_4_indicator %}
		      hidden{% endif %}>
		    <div class='col-sm-offset-3 col-sm-2'>
			  <input class="form-control" id="inputCounter4" 
			    placeholder="Назва лічильника" name="counter_4_name"
			    value='{{ data.counter_4_name }}'>
			  <span class="help-block">{{ errors.counter_4_name }}</span>
			</div>
			<div class='col-sm-2'>
			  <input class="form-control" placeholder="Показник"
			    name="counter_4_indicator" value='{{ data.counter_4_indicator }}'>
			  <span class="help-block">{{ errors.counter_4_indicator }}</span>
		    </div>
		    <div class='col-sm-1'>
		      <button type='button' class='btn btn-danger' id='delete_counter_4'>
		        Видалити
		      </button>
		    </div>
		  </div>
		  
		  <!-- Add Counters -->
		  {% if data.product_name != 'Вивіз сміття' %}
		    <div class='form-group'>
			  <div class='col-sm-offset-3 col-sm-9'>
			    <button type="button" class="btn btn-success" id="add_counter"
			      {% if not data.product_name %}disabled{% endif %}>
					Додати лічильник
				</button>
			  </div>
			</div>
		  {% endif %}
		  
		  <!-- Arrears -->
		  <div class="form-group {% if errors.arrears %}has-error{% endif %}">
		    <label for="inputArrears" class="col-sm-3 control-label">Стан розрахунку</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="inputArrears"
				name='arrears' placeholder="Введіть наявний стан розрахунку в грн"
				value='{{ data.arrears }}' 
				{% if not data.product_name %}disabled{% endif %}>
			   <span class="help-block">{{ errors.arrears }}</span>
		    </div>
		  </div>
		  
		  <!-- Buttons -->
		  <div class="form-group">
		    <div class="col-sm-offset-3 col-sm-9">
		      <button type="submit" class="btn btn-primary"
				name='add_button'>Додати</button>
		      <button type="submit" class="btn btn-link"
		        name='cancel_button'>Скасувати</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
{% endblock content %}
