{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
<head>
	<title>Комунальний довідник</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
			bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
	
	<!--Main content-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Додаток для розрахунку комунальних платежів</h1>
			</div>	
		</div>
		{% block content %}
		
		{% endblock content %}
		<!--Footer-->
		<div class="row" id="footer">
			<div class="col-sm-12">&copy; 2015 Сервіс Звірки Комунальних Платежів Версія 0.4.0А</div>
		</div>
	</div>
	
	<!--JavaScript-->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="{% static 'main.js' %}"></script>
</body>
</html>
