<!DOCTYPE html>
<html lang="uk">
<head>
	<title>Комунальний довідник</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
			bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/main.css">
</head>
<body>
	
	<!--Main content-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Додаток для розрахунку комунальних платежів</h1>
			</div>	
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Назва послуги</th>
							<th>Постачальник</th>
							<th>Дата оновлення</th>
							<th>Показники лічильника</th>
							<th>Заборгованість</th>
							<th>Дії</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Водопостачання</td>
							<td><a target="__blank"
								href="http://water.km.ua">Хмельницьковоканал</a></td>
							<td>01.10.2015</td>
							<td>
								ХВ-1: 100<br>
								ХВ-2: 50<br>
								ГВ-1: 120<br>
								ГВ-2: 150<br>
							</td>
							<td><span style="color: green">0грн</span></td>
							<td>
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" 
										type="button" id="dropdownMenu1" data-toggle="dropdown" 
										aria-haspopup="true" aria-expanded="true">
										Оберіть
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
										<li><a href="#">Діючі тарифи</a></li>
										<li><a href="#">Оновити показники</a></li>
										<li><a href="#">Видалити послугу</a></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>Каналізація</td>
							<td><a target="__blank"
								href="http://water.km.ua">Хмельницьковоканал</a></td>
							<td>01.10.2015</td>
							<td>
								ХВ-1: 100<br>
								ХВ-2: 50<br>
								ГВ-1: 120<br>
								ГВ-2: 150<br>
							</td>
							<td><span style="color: green">0грн</span></td>
							<td>
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" 
										type="button" id="dropdownMenu1" data-toggle="dropdown" 
										aria-haspopup="true" aria-expanded="true">
										Оберіть
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
										<li><a href="#">Діючі тарифи</a></li>
										<li><a href="#">Оновити показники</a></li>
										<li><a href="#">Видалити послугу</a></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>Електропостачання</td>
							<td>
								<a target="__blank"
									href="https://pa.oblenergo.km.ua/
									Account/Login?ReturnUrl=%2FCustomerCard">
									Хмельницькобленерго
								</a>
							</td>
							<td>01.10.2015</td>
							<td>
								№1: 7500
							</td>
							<td><span style="color: green">0грн</span></td>
							<td>
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" 
										type="button" id="dropdownMenu1" data-toggle="dropdown" 
										aria-haspopup="true" aria-expanded="true">
										Оберіть
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
										<li><a href="#">Діючі тарифи</a></li>
										<li><a href="#">Оновити показники</a></li>
										<li><a href="#">Видалити послугу</a></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>Газопостачання</td>
							<td>
								<a target="__blank"
									href="http://km.104.ua/">
									Хмельницькгаз
								</a>
							</td>
							<td>01.10.2015</td>
							<td>Відсутній лічильник</td>
							<td><span style="color: green">0грн</span></td>
							<td>
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" 
										type="button" id="dropdownMenu1" data-toggle="dropdown" 
										aria-haspopup="true" aria-expanded="true">
										Оберіть
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
										<li><a href="#">Діючі тарифи</a></li>
										<li><a href="#">Оновити показники</a></li>
										<li><a href="#">Видалити послугу</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--Footer-->
		<div class="row" id="footer">
			<div class="col-sm-12">&copy; 2015 Сервіс Звірки Комунальних Платежів Версія 0.1.2А</div>
		</div>
	</div>
	
	<!--JavaScript-->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
