{% extends "rent/base.html" %}

{% block content %}		
<div class="row">
	<div class="col-sm-12">
		<h2>Історія показників {{ product_name }}</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Постачальник</th>
					<th>Показники лічильника</th>
					<th>Дата оновлення</th>
					<th>Стан розрахунку</th>
					<th>Дії</th>
				</tr>
			</thead>
			<tbody>
				{% for supply in supplies %}
				<tr>
					<td>
						<a target="__blank"
							href="http://{{ supply.provider_site }}">
							{{ supply.provider_name }}
						</a>
					</td>
					{% if supply.counter_1_name %}
					<td>{{ supply.counter_1_name }}: {{ supply.counter_1_indicator }}
					  {% if supply.counter_2_name %}
					  <br>{{ supply.counter_2_name }}: {{ supply.counter_2_indicator }}
					    {% if supply.counter_3_name %}
					    <br>{{ supply.counter_3_name }}: {{ supply.counter_3_indicator }}
					      {% if supply.counter_4_name %}
					     <br>{{ supply.counter_4_name }}: {{ supply.counter_4_indicator }}
					      {% endif %}
					    {% endif %}
					  {% endif %}</td>
					{% else %}
					<td>Відсутній лічильник </td>
					{% endif %}
					<td>{{ supply.date_change }}</td>
					<td><span style="color: 
						{% if supply.arrears > 0 %}green
						{% elif supply.arrears < 0 %}red{% endif %}">
							{{ supply.arrears }}грн
						</span></td>
					<td>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" 
								type="button" id="dropdownMenu1" data-toggle="dropdown" 
								aria-haspopup="true" aria-expanded="true">
								Оберіть
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a target='__blank' href="
								  {% if supply.provider_name == 'Хмельницькводоканал' %}
								  http://water.km.ua/index.php?item=109&item_id=37
								  {% elif supply.provider_name == 'Хмельницькобленерго' %}
								  http://www.hoe.com.ua/index_21.html 
								  {% elif supply.provider_name == 'Хмельницькгаз' %}
								  http://km.104.ua/ua/services/zaplatiti-za-gaz/gas-cost
								  {% elif supply.provider_name == 'Спецкомунтранс' %}
								  http://skt.km.ua/index.php?menu=12
								  {% endif %}">Діючі тарифи</a></li>
								<li><a href="{% url 'edit_indexes' supply.id %}">Оновити показники</a></li>
								<li><a href="{% url 'delete_index' supply.id %}">Видалити показник</a></li>
							</ul>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href='{% url 'home' %}' class='btn btn-default' role='button'>На головну</a>
	</div>
</div>
{% endblock content %}

